@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Neue Campton';
        src: url('@/assets/fonts/NeueCampton-Bold.woff2') format('woff2');
        font-weight: bold;
        font-style: normal;
    }
    @font-face {
        font-family: 'Neue Campton';
        src: url('@/assets/fonts/NeueCampton-BoldItalic.woff2') format('woff2');
        font-weight: bold;
        font-style: italic;
    }
    @font-face {
        font-family: 'Neue Campton';
        src: url('@/assets/fonts/NeueCampton-Light.woff2') format('woff2');
        font-weight: 300;
        font-style: normal;
    }
    @font-face {
        font-family: 'Neue Campton';
        src: url('@/assets/fonts/NeueCampton-LightItalic.woff2') format('woff2');
        font-weight: 300;
        font-style: italic;
    }
    @font-face {
        font-family: 'Neue Campton';
        src: url('@/assets/fonts/NeueCampton-Medium.woff2') format('woff2');
        font-weight: 500;
        font-style: normal;
    }
    @font-face {
        font-family: 'Neue Campton';
        src: url('@/assets/fonts/NeueCampton-MediumItalic.woff2') format('woff2');
        font-weight: 500;
        font-style: italic;
    }
    @font-face {
        font-family: 'Neue Campton';
        src: url('@/assets/fonts/NeueCampton-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Neue Campton';
        src: url('@/assets/fonts/NeueCampton-RegularItalic.woff2') format('woff2');
        font-weight: normal;
        font-style: italic;
    }
    @font-face {
        font-family: 'Neue Campton';
        src: url('@/assets/fonts/NeueCampton-SemiBold.woff2') format('woff2');
        font-weight: 600;
        font-style: normal;
    }
    @font-face {
        font-family: 'Neue Campton';
        src: url('@/assets/fonts/NeueCampton-SemiBoldItalic.woff2') format('woff2');
        font-weight: 600;
        font-style: italic;
    }
    @font-face {
        font-family: 'Neue Campton';
        src: url('@/assets/fonts/NeueCampton-Thin.woff2') format('woff2');
        font-weight: 100;
        font-style: normal;
    }
    @font-face {
        font-family: 'Neue Campton';
        src: url('@/assets/fonts/NeueCampton-ThinItalic.woff2') format('woff2');
        font-weight: 100;
        font-style: italic;
    }
    body {
        @apply font-neueCampton antialiased leading-relaxed min-h-screen w-screen;
    }
}
